.footer{
    
    width: 100%;
    position: relative;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;

}
.footer-info{
    display: flex;
   gap: 100px;  
   text-align: center;
  
   justify-content: center;
}
.footer-info-left{
    width: 20%;
}
.footer-info-left h1{
    font-weight: 300;
    margin-bottom: 20px;
}
.footer-info-left p{
    font-size: 18px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer-info-middle{
    width: 20%;
}
.footer-info-middle h1{
    font-weight: 300;
    margin-bottom: 20px;   
}
.footer-info-middle p{
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1rem 0;
}
.footer-info-right{
    width: 20%;
    
}
.footer-info-right h1{
    font-weight: 300;
    margin-bottom: 20px;   
}
.footer-info-right .icon{
   text-align: center;
   margin-right: 20px;
   font-size: 30px;
}
.footer-bottom{
    margin-top: 100px;
    font-weight: 100;
}
@media screen and (max-width:1024px) {
    .footer-info{
        gap: 30px;

    }
    .footer-info-right .icon{
        font-size: 20px;
        margin-right: 10px;
        margin-left: 10px;
        
    }
}
@media screen and (max-width:425px){
    .footer-info{
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    .footer-info-left{
        width: 100%;
    }
    .footer-info-right{
        width: 100%;
    }
    .footer-info-middle{
        width: 100%;
    }
}
@media screen and (max-width:766px){
    .footer-info{
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    .footer-info-left{
        width: 100%;
    }
    .footer-info-right{
        width: 100%;
    }
    .footer-info-middle{
        width: 100%;
    }
}