.menu{
    display: flex;
    width: 1005;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.menu-nav{
    display: flex;
    margin: 2rem 0;
    gap: 20px;
}
.menu-nav ul{
    display: flex;
}
.menu-nav ul li a{
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: "Dancing Script", cursive;
}
.ricedishes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    justify-content: center;
   
}
.ricedishes h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;

}
.ricedishes ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.ricedishes ul li {
    flex-basis: calc(20% );
    flex-direction: column;
    display: flex;
    text-align: center;
    font-family: "Dancing Script", cursive;
}
.ricedishes ul li img{
    width: 240px;
    height: 30vh;
    object-fit: cover;
    margin-bottom: 2rem;
}
.soup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    justify-content: center;
   
}
.soup h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;

}
.soup ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.soup ul li {
    flex-basis: calc(20% );
    flex-direction: column;
    display: flex;
    text-align: center;
    font-family: "Dancing Script", cursive;
}
.soup ul li img{
    width: 240px;
    height: 30vh;
    object-fit: cover;
    margin: 2rem 0;
}
.swallow{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    justify-content: center;
   
}
.swallow h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;

}
.swallow ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.swallow ul li {
    flex-basis: calc(20% );
    flex-direction: column;
    display: flex;
    text-align: center;
    font-family: "Dancing Script", cursive;
}
.swallow ul li img{
    width: 240px;
    height: 30vh;
    object-fit: cover;
    margin: 2rem 0;
}
@media screen and (max-width: 1024px){
  
    .ricedishes ul li {
        flex-basis: calc(10%);
       gap: 20px;
        
    }
    .ricedishes ul li img{
        width: 240px;
        height: 30vh;
        object-fit: cover;
        margin: 1rem;

    }
    .soup ul li {
        flex-basis: calc(10%);
        gap: 20px;
    }
    .soup ul li img{
        width: 240px;
        height: 30vh;
        object-fit: cover;
        margin: 1rem;

    }
    .swallow ul li {
        flex-basis: calc(10%);
        gap: 20px;
        
    }
    .swallow ul li img{
        width: 240px;
        height: 30vh;
        object-fit: cover;
        margin: 1rem;

    }
}
@media screen and (min-width: 1025px){
  
    .ricedishes ul li {
        flex-basis: calc(10%);
       gap: 20px;
        
    }
    .ricedishes ul li img{
        width: 240px;
        height: 30vh;
        object-fit: cover;
        margin: 1rem;

    }
    .soup ul li {
        flex-basis: calc(10%);
        gap: 20px;
    }
    .soup ul li img{
        width: 240px;
        height: 30vh;
        object-fit: cover;
        margin: 1rem;

    }
    .swallow ul li {
        flex-basis: calc(10%);
        gap: 20px;
        
    }
    .swallow ul li img{
        width: 240px;
        height: 30vh;
        object-fit: cover;
        margin: 1rem;

    }
}
